<html>
<head>
</head>
<body bgcolor="Blue" text="blue">
<h1> A simple Javascript created button </h1>
<div id="button"></div>
</body>
<script>
myButton = document.createElement("input");
myButton.type = "button";
myButton.value = "Chords";
placeHolder = document.getElementById("button");
placeHolder.appendChild(myButton);
</script>
<script>
myButton = document.createElement("input");
myButton.type = "button";
myButton.value = "Notes";
placeHolder = document.getElementById("button");
placeHolder.appendChild(myButton);
</script>
</html>

<body bgcolor="Blue" text="black">
<div id="button"></div>
</body>
<script>
myButton = document.createElement("input");
myButton.type = "button";
myButton.value = "Chords";
placeHolder = document.getElementById("button");
placeHolder.appendChild(myButton);
</script>
